{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment online
for Idle Medical Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<p>This GP practice uses a system that is not controlled by the NHS called TPP SystmOnline.</p>

<p>To book an appointment online you will need to have registered to use the system. You will need your username and password to book an appointment.</p>

<p><a href="https://systmonline.tpp-uk.com/2/Login?Date=20161114231637" class="button">Continue to this surgery's system</a>


<p class="info-panel">If you have not registered you will need to make an appointment with this GP practice.</p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
