{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
GP services
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2>Idle Medical Centre</h2>

<p>Address line 1<br />
  Address line 2<br />
  Address line 3<br />
  Address line 4</p>

<section class="muted">
<h3>Make an appointment</h3>

<p><a href="book-an-appointment-online" class="button">Book an apoointment online</a>

</section>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
