{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Find a pharmacy
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<form action="show-list-of-pharmacies">

<fieldset>
  <legend>Enter a postcode</legend>
  <div class="form-group">
    <input type="text" size="30" name="postcode">
  </div>
</fieldset>

<button type="submit" class="button" style="margin-top: 16px; margin-bottom: 0;">Search</button>

<p style="margin-top: 0;"><a href="#" class="link-back">Back to information on head lice</a></p>


</form>




{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
