{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Head lice and nits
{% endblock %}

{% block pageIntro %}
Head lice and nits are very common in young children. They don’t have anything to do with dirty hair, and are usually picked up by head-to-head contact.
{% endblock %}


{% block content %}

<h2>Check if it's head lice</h2>

<p>Head lice sometimes can make your head feel:</p>

<ul>
<li>itchy</li>
<li>like something is moving in your hair</li>
</ul>

<p>The only way to be sure someone has head lice is by finding live lice or
eggs. You can do this by combing their hair with a special fine-toothed
comb (detection comb). You can buy these online or at pharmacies.</p>

<p><a href="find-a-pharmacy">Find a pharmacy</a></p>

<h2>How to get rid of headlice</h2>


<section class="callout">
<p>You can treat head lice without seeing your GP.</p>
</section>

<p>Treat head lice as soon as you spot them. You should check everyone in the
house, and treat them on the same day if they have head lice.</p>

<p>There’s no need to keep your child off school with head lice.</p>

<h3>Use lotion or spray to treat head lice</h3>

<p>You can use medicated lotions and sprays that kill head lice in all types
of hair, including afro hair. You can buy these from pharmacies,
supermarkets or online.</p>

<p>Head lice should die within a day. Lotions and sprays come with a comb to
remove dead lice and eggs.</p>

<p>Some treatments need to be repeated after a week to kill any newly-hatched
lice. Check the pack to see whether they’re okay for you or your child to
use and how long they should be left in the hair.</p>

<p>If lotions or sprays don’t work, speak to your pharmacist about other
treatments.</p>

<p>Some treatments aren’t recommended because they’re unlikely to work:</p>

<ul>
<li>products containing permethrin</li>
<li>head lice “repellents”</li>
<li>electric head lice combs</li>
<li>tree and plant oil treatments, such as tea tree oil, eucalyptus oil,
and lavender oil herbal remedies</li>
</ul>

<h3>If you don’t want to use chemicals</h3>

<p>You can buy a special fine-toothed comb (detection comb) online or from
pharmacies to remove head lice and nits.</p>

<p>Follow the instructions on the pack, but generally you:</p>

<ul>
<li>use the comb on wet or dry hair, although it usually works best on wet
hair with conditioner</li>
<li>comb the whole head of hair, from the roots to the end of the hair</li>
<li>repeat every few days for 2 weeks</li>
</ul>

<h2>You can’t prevent head lice</h2>

<p>There’s nothing you can do to prevent head lice. You can reduce the risk
of lice spreading by avoiding head-to-head contact.</p>

<p>Don’t use medicated lotions and sprays to prevent head lice. This can
irritate the scalp.</p>

<p>There’s no need for children to stay off school, or to wash laundry on a
hot wash.</p>

<p><a href="http://cks.nice.org.uk/head-lice#!diagnosissub">Medical detail about head lice</a></p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
