{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
You are not registered with a GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}
<p>To receive this treatment you need to be registered with a GP practice.</p>

<p>You can <a href="">register online</a>.</p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
