{% extends '_layouts/layout_3-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Pharmacies near LS6 4JN {{ postCode }}
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<div style="background: #0072C6; width: 277px; float: left; padding: 32px; color:#ffffff">
<h2>Open pharmacies</h2>
<hr style="color: #338ED1; margin-top:48px; margin-bottom: 16px;">
<p>These NHS services can help you now.</p>
</div>


<div style="padding-left: 364px;">
<p>0 miles away<br />
  <h2 style="margin-top:-48px;">LloydsPharmacy</h2></p>

  <p style="border-left: #000000 solid 4px; background: #ccc; padding: 16px; margin-top:0;">Open from 7.30am until 5.30pm today</p>


  <p style="margin-top:0;"><!--<div class="hidden">Address</div>-->569-571 Meanwood Road,<br />
Leeds,<br />
LS6 4AY</p>


<p style="margin-top: -32px;"><a href="https://www.google.com/maps?saddr=LS6+4JN&daddr=LloydsPharmacy,569-571+Meanwood+Road,Leeds,Leeds,West+Yorkshire,LS6+4AY&near=LloydsPharmacy,569-571+Meanwood+Road,Leeds,Leeds,West+Yorkshire,LS6+4AY">See map and directions</a></p>

<p style="margin-top: 0;">Phone 0113 278 6352</p>


<hr style="margin-bottom:64px;">

<p>0.5 miles away<br />
  <h2 style="margin-top:-48px;">Meanwood Pharmacy</h2></p>

  <p style="border-left: #000000 solid 4px; background: #ccc; padding: 16px; margin-top:0;">Open from 8am until 6pm today</p>


  <p style="margin-top:0;"><!--<div class="hidden">Address</div>-->597 Meanwood Road,<br />
    Leeds,<br />
    LS6 4AY</p>


<p style="margin-top: -32px;"><a href="https://www.google.com/maps?saddr=LS6+4JN&daddr=Meanwood+Pharmacy,597+Meanwood+Road,Leeds,West+Yorkshire,LS6+4AY&near=Meanwood+Pharmacy,597+Meanwood+Road,Leeds,West+Yorkshire,LS6+4AY">See map and directions</a></p>

<p style="margin-top: 0;">Phone 0113 230 7519</p>


<hr style="margin-bottom:64px;">

<p>0.6 miles away<br />
  <h2 style="margin-top:-48px;">Headingley Pharmacy</h2></p>

  <p style="border-left: #000000 solid 4px; background: #ccc; padding: 16px; margin-top:0;">Open from 7am until 6pm today</p>


  <p style="margin-top:0;"><!--<div class="hidden">Address</div>-->St Michaels Court,<br />
1 Shire Oak Street,<br />
Headingley,<br />
Leeds,<br />
LS6 2DP</p>


<p style="margin-top: -32px;"><a href="https://www.google.com/maps?saddr=LS6+4JN&daddr=Headingley+Pharmacy,St+Michaels+Court,1+Shire+Oak+Street,Headingley,Leeds,West+Yorkshire,LS6+2DP&near=Headingley+Pharmacy,St+Michaels+Court,1+Shire+Oak+Street,Headingley,Leeds,West+Yorkshire,LS6+2DP">See map and directions</a></p>

<p style="margin-top: 0;">Phone 0113 230 5588</p>

<hr style="margin-bottom:64px;">

<p>0.6 miles away<br />
  <h2 style="margin-top:-48px;">LloydsPharmacy</h2></p>

  <p style="border-left: #000000 solid 4px; background: #ccc; padding: 16px; margin-top:0;">Open from 8am until 5pm today</p>


  <p style="margin-top:0;"><!--<div class="hidden">Address</div>-->8 The Arndale Centre,<br />
Otley Road,<br />
Leeds,<br />
LS6 2UE</p>


<p style="margin-top: -32px;"><a href="https://www.google.com/maps/dir/Meanwood+Road,+Leeds+LS6+4JN,+UK/Lloyds+Pharmacy,+8,+The+Arndale+Centre,+Otley+Road,+Leeds,+Headingley+LS6+2UE,+United+Kingdom/@53.8245469,-1.580477,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x4879595b2a2738f9:0xd1b65977eb7dca0a!2m2!1d-1.565871!2d53.8272298!1m5!1m1!1s0x48795937e3a07c5d:0x6e9cb922a09897ab!2m2!1d-1.5779422!2d53.8217807">See map and directions</a></p>

<p style="margin-top: 0;">Phone 0113 274 0233</p>

<hr style="margin-bottom:64px;">



</div>

<div style="background: #0072C6; width: 277px; float: left; padding: 32px; color:#ffffff">
<h2>Closed pharmacies</h2>
<hr style="color: #338ED1; margin-top:48px; margin-bottom: 16px;">
</div>


<div style="padding-left: 364px;">
<p>0.9 miles away<br />
  <h2 style="margin-top:-48px;">Knights Scott Hall Pharmacy</h2></p>

  <p style="border-left: #000000 solid 4px; background: #ccc; padding: 16px; margin-top:0;">Open next tomorrow from 7.30am until 5.30pm</p>


  <p style="margin-top:0;"><!--<div class="hidden">Address</div>-->Rutland Lodge,<br />
Scott Hall Road,<br />
Leeds,<br />
LS7 3DR</p>


<p style="margin-top: -32px;"><a href="0113 2392014">See map and directions</a></p>

<p style="margin-top: 0;">Phone 0113 278 6352</p>


<p>&nbsp;</p>


</div>


<p><a href="something-is-wrong">Is something wrong with this page?</a></p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
