{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Find a GP practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}
<h3>Idle Medical Centre</h3>
<p style="margin-top:-16px;">48 High Street, Idle, Bradford, BD10 9RY <a href="gp-practice-page" class="button">View practice</a></p>


<h3>Idle Moor Surgey</h3>
<p style="margin-top:-16px;">12 Dave Lane, Bradford, BD7 9EF <a href="gp-practice-page" class="button">View practice</a></p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
