{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Select your surgery
{% endblock %}


{% block pageIntro %}
{% endblock %}


{% block content %}

<p>If you can't see your surgery, check that you're using the right name and try <a href="book-an-appointment">searching again</a>.</p>

<div style="padding: 12px; margin: 32px 0; border: solid 3px #0072c6;">
<a href="https://patient.emisaccess.co.uk/account/login" style="text-decoration: none; color:#0072c6;">
<h3 style="text-decoration: underline; margin: 0; padding: 4;">Idle Medical Centre</h3>
<div style="margin-top:-16px;">48 High Street, Idle, Bradford, BD10 9RY</div>
</a>
</div>

<hr>


<div style="padding-left: 0;  margin: 32px 0;">
<h3 style="text-decoration: underline;">Swidle Medical Centre</h3>
<div style="margin-top:-16px;">12 Creaky Road, Glossop, SK13 7FR</div>
<div class="muted" style="margin-top: 16px; margin-bottom:0;">
<p style="padding: 0; margin: 0;">This surgery doesn't have an online booking system. Call reception on <number> to book an appointment.</p>
</div>
</div>

<hr>


<div style="padding-left: 0;  margin: 32px 0;">
<a href="https://patient.emisaccess.co.uk/account/login" style="text-decoration: none; color:#0072c6;">
<h3 style="text-decoration: underline;">Another surgery name here</h3>
<div style="margin-top:-16px;">33 Windy Lane, Gale, BR22 3FR</div>
</a>
</div>

<hr>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
