{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Book an appointment - NHS.UK
{% endblock %}


{% block pageTitle %}
Book a GP appointment online
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<p>To go to your doctor's online booking system, enter the name of your surgery. You can:</p>

<ul>
  <li>search for part of or all of the surgery name</li>
  <li>only search for surgeries in England</li>
</ul>

<form action="show-list-of-pharmacies-with-full-times-v3-2">

<fieldset style="padding-bottom: 0;">
  <div class="form-group" style="padding-bottom: 0;">
    <input type="text" size="30" name="postcode" style="margin-top: 0; margin-bottom: 0;">
  </div>
</fieldset>

<a href="show-list-of-gps" type="submit" class="button" style="margin-top: 0; margin-bottom: 0;">Next</a>

</form>

{% endblock %}


{% block emergencyContent %}

{% endblock%}


{% block mutedCallout%}

{% endblock%}


{% block body_after %}

{% endblock %}
