{% extends '_layouts/journey_layout_2-3_no_blue_box.html' %}


{% block page_title %}
GP details NHS.UK
{% endblock %}


{% block pageTitle %}
Confirm and book the appointment
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<p><b>The appointment you chose</b></p>

<p class="info-panel">10am today with Dr Angela Carter</p>

<p><a href="see-online-appointments">Change appointment</a></p>

<p><b>The patient the appointment is for</b></p>

<p class="info-panel">Simon Wilson</p>

<p><a href="confirm-online-appointment">Change appointment</a></p>


<p><a href="appointment-confirmation" class="button">Book appointment</a></p>


<a href="see-online-appointments" class="link-back" style="margin: 0;">Back</a>
</p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}§

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
