{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Book an appointment - NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment with your GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<p>You can book an appointment if you already have a GP.</p>


<p>Before you start you'll need the name of your GP surgery.</p>

<p>If you want to book online you'll need a username and password for your surgery's online services website.</p>


<details style="margin-top: 0;margin-bottom: 48px;">

<summary><span style="text-decoration: underline; color: #0072c6;">How to get a username and password</span></summary>

<p style="border-left: solid 4px #000000; padding-left: 16px;">Ask a receptionist at your surgery for a form to join online services.</p>

</details>


<a href="http://dev.c2s.nhschoices.net/book-a-gp-appointment/" class="button">Start</a>

<p>&nbsp;</p>


<p><b>If you don't have a GP</b><br />
  <a href="http://www.nhs.uk/Service-Search/GP/LocationSearch/4">Search for a new GP</a> and <a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/doctors/Pages/NHSGPs.aspx">become a permanent or temporary patient</a>.</p>



{% endblock %}


{% block emergencyContent %}

{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
