{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Diabetes symptoms and conditions NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment at Sherburn Group Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2>Contact reception</h2>

<div>Telephone: 01977 682208</div>


<p><b>Reception opening hours</b><br />
<div style="border-left: #000 solid 8px; color: #000000; background: #ccc; padding: 16px; margin-top:0;">Open from 7.30am until 5.30pm today</div>


<h2 style="margin-top:32px;">Book an appointment online</h2>

<p>If you’ve registered with your GP’s online services, you’ll get a username and password.</p>

<p>You will need these to log on and book an appointment.</p>


<p><a href="https://systmonline.tpp-uk.com/2/Login?Date=20161114231637" class="button">Log on</a>


  <h2>Register to book an appointment online</h2>

  <p>You must register with your GP’s online services to book an appointment online.</p>

  <p>Ask your practice for a registration form.</p>

  <p>You’ll also need to show photo ID and proof of address.</p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
