{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment with a GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2  class="h3">If you already have a GP</h2>


<p>Enter the name of your GP practice to find out how you can book an appointment.</p>

<form>

<input type="text" size="30">

<p><a href="gp-details-for-diabetes" class="button">Continue</a></p>

</form>



<p style="top-margin:16px;">
  <b>If you haven't got a GP</b><br />
  <a href="find-a-service?serviceprovider=GP">Find a GP in your area</a>
</p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
