{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Diabetes symptoms and conditions NHS.UK
{% endblock %}


{% block pageTitle %}
Sherburn Group Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<div>Phone 01977 682208</div>


<div style="border-left: #000 solid 8px; color: #000000; background: #ccc; padding: 16px; margin-top:0;">Open from 7.30am until 5.30pm today<br />

</div>

<br />
<br />
<br />


<p>To book an appointment online you will need to have registered to use the system.</p>


<p>You will need:</p>

<ul>
  <li>your username</li>
    <li>your password</li>
</ul>

<p><a href="https://systmonline.tpp-uk.com/2/Login?Date=20161114231637" class="button">Continue to this surgery's system</a>

</div>
{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
