{% extends '_layouts/journey_layout_2-3.html' %}


{% block page_title %}
GP details NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment at Meanwood Group Practice
{% endblock %}

{% block pageIntro %}
<nav role="navigation" aria-label="Parts to this guide" class="link-list__row">



 <ol class="link-list  link-list--one-half link-list--numbered" start="1">







     <li class="link-list--item">

         <a href="getting-diagnosed"
            class="link_reverse-polarity"
            title="Part 2: Getting diagnosed"
            data-analytics="contents-navigation"
            data-step="2">
           Contact reception
         </a>

     </li>




     <li class="link-list--item">

         <a href="understanding-medication"
            class="link_reverse-polarity"
            title="Part 3: Understanding medication"
            data-analytics="contents-navigation"
            data-step="3">
           Book an appointment online
         </a>

     </li>

 </ol>

 </nav>


{% endblock %}


{% block content %}

<h2>Contact reception</h2>

<p><b>Reception opening hours</b><br />
Open from 7.30am to 8pm today
</p>

<details style="margin-top: 0;margin-bottom: 0;">

<summary><span class="nearest_opening_times">View all opening times</span></summary>

  <div class="panel panel-border-narrow">


    <table class="gpOpeningTimes">
        <tbody>
            <tr>
                <td>Monday</td>
                <td>7.30am to 8pm</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>7.30am to 6pm</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>7.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>7.30am to 6pm</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>7.30am to 6pm</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Closed - call 111 if you need help</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Closed - call 111 if you need help</td>
            </tr>
        </tbody>
    </table>

  </div>

</details>

<p class="muted">Telephone:  0113 230 5055</p>


<h2 style="margin-top:32px;">Book an appointment online</h2>

<p>To book an appointment online, you need to register with the practice’s online services website.</p>

<p>You can get a registration form from reception.</p>

<p>The practice will send you a username and password for the site.</p>

<p class="muted"><a href="https://patient.emisaccess.co.uk/Account/Login" style="margin-bottom: 0px;">Sign into the online services website</a>
</p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}§

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
