{% extends '_layouts/journey_layout_2-3.html' %}


{% block page_title %}
GP details NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment at Street Lane Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2>Contact reception</h2>

<p>Telephone: 0113 237 1128</p>


<p><b>Reception opening hours</b><br />
<div class="muted">Currently open, from 8.30am until 6.30pm today</div>
</p>

<details style="margin-top: 0;margin-bottom: 0;">

  <summary><span class="nearest_opening_times">View all opening times</span></summary>

  <div class="panel panel-border-narrow">


    <table class="gpOpeningTimes">
        <tbody>
            <tr>
                <td>Monday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>8.30am to 1pm</td>
                <td>3.15pm to 6pm</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Closed</td>
                <td></td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Closed</td>
                <td></td>
            </tr>
        </tbody>
    </table>

  </div>

</details>



<h2 style="margin-top:32px;">Book an appointment online</h2>

<p>Log on with the username and password your GP practice gave you for online services.</p>

<p>If you don't have a username and password, ask your practice for a registration form.</p>

<p><a href="https://systmonline.tpp-uk.com/2/Login?PracticeId=B86066&Date=20170124091633" class="button">Start</a>



{% endblock %}


{% block emergencyContent %}


{% endblock%}§

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
