{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment with a GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<p>To book an appointment with your GP online you must already be registered with a GP surgery.</p>

<p>You will need to tell us:</p>

<ul>
  <li>your full name</li>
  <li>your date of birth</li>
  <li>the postcode you used to register with your GP</li>
</ul>

<p><a href="https://systmonline.tpp-uk.com/2/Login?Date=20161114231637" class="button">Start</a>


<p class="info-panel">If you don’t have a GP, you can <a href="{{ regwithGPURL }}">find and register with a GP</a>.</p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
