{% extends '_layouts/layout_2-3_1-3.html' %}


{% block page_title %}
  Your name :
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}


{% block pageTitle %}
Title for this page goes here, to a two-thirds grid
{% endblock %}

{% block pageIntro %}
An example intro.
{% endblock %}


{% block content %}
{% if practiceName %}
  <!-- <p>Register with {{ practiceName }}</p>-->
{% endif %}

<p>Two thirds column two thirds column two thirds column two thirds column two thirds column two thirds column two thirds column two thirds column two thirds column two thirds column.</p>

<p>More content goes in here. And more content goes in here. And more content goes in here. And more content goes in here. And more content goes in here.</p>


{% endblock %}


{% block emergencyContent %}

<h2>Emergency content</h2>

<p>If you have a hernia and:</p>

<ul>
<li>it feels hot</li>
<li>it’s hard and tender</li>
<li>it’s suddenly painful</li>
<li>you have a fever</li>
<li>you have blood in your poo</li>
</ul>

<hr>

<p>This could mean you have a strangulated hernia.</p>


{% endblock%}


{% block body_after %}
  <script>
    $(function() {
      var $group = $('#previous-name');
      var $els = $('[name="name-changed"]');
      var $selectedEl = $('[name="name-changed"]:checked');
      if ($selectedEl.val() !== "yes") {
        $group.hide();
      }
      $els.on('change', function(e) {
        if (this.value === "yes") {
          $group.show();
        } else {
          $group.hide();
        }
      });
    });
  </script>
{% endblock %}
