{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Find a GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}
<p>Enter the name or address of a GP practice, or the name of the doctor you are registered with.</p>

<form>

<input type="text" size="30">

</form>

<p><a href="show-list-of-gps" class="button">Continue</a></p>

<p style="top-margin:16px;">
  Not know your GP? <a href="find-your-gp">Find your GP</a>.
</p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
