{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Symptoms and conditions / v1d2{% endblock %}

{% block pageIntro %}These is the design work for the Connecting to Services programme{% endblock%}

{% block content %}

<ul>
  <li><a href="head-lice">Head lice</a> (a pharmacy has the things to help you)</li>
  <li><a href="stomach-ache">Stomach ache</a> (supposedly a pharmacy but I haven't put the link in yet)</li>
  <li><a href="warts-and-verrucas">Warts and verrucas</a> (a GP will be able to help you here)</li>
</ul>

{% endblock %}

{% block footer %}{% endblock %}
