
.attention {
  border: 12px solid #40add7;
  padding: $leading*2;
}

.callout {
  background-color: $callout-background;
  border: solid $callout-border;
  border-width: 4px 0;
  padding: $leading*2;
  margin: $leading*2 0;
}

.callout p {
  padding: 0;
  margin: 0;
}

.info-panel {
  border-left: solid 6px $dark-blue2;
  padding: 0 $leading*2;
  margin-bottom: $leading;
}

.muted {
  background-color: #d9e1e2;
  padding: $leading $leading $leading $leading*2;
  border-left: solid 6px $black;
  margin-bottom: 32px;

}



.severe {
  border-top: 12px solid #d81e05;
  background-color: #fbe8e6;
  padding: $leading;

}

.severe hr {
  background-color: #768692;
}
