{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Diabetes symptoms and conditions NHS.UK
{% endblock %}


{% block pageTitle %}
Book an appointment at Sherburn Group Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2>Contact reception</h2>

<div>Telephone: 01977 682208</div>


<p><b>Reception opening hours</b><br />
Open from 7.30am until 5.30pm today</p>

<details style="margin-top: 0;margin-bottom: 0;">

  <summary><span class="nearest_opening_times">View all opening times</span></summary>

  <div class="panel panel-border-narrow">


    <table class="gpOpeningTimes">
        <tbody>
            <tr>
                <td>Monday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>8.30am to 1pm</td>
                <td>3.15pm to 6pm</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>8.30am to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Closed</td>
                <td></td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Closed</td>
                <td></td>
            </tr>
        </tbody>
    </table>

  </div>

</details>



<h2 style="margin-top:32px;">Book an appointment online</h2>

<p>To book an appointment online you need to have a username and password from your GP practice.


<p><a href="https://systmonline.tpp-uk.com/2/Login?Date=20161114231637" class="button">Start</a>

  <p  class="muted">If you don't have a username and password, ask your practice for a registration form.</p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
