{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Idle Medical Centre
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<p>48 High Street<br />
  Idle<br />
  Bradford<br />
  BD10 9RY</p>

<p>Phone: 01274 410 800</p>

<h3>Related surgeries</h3>
<p style="margin-top:-16px;">This GP practice is also linked to the practices at <a href="">46 High Street, Bramley</a> and <a href="">Kings Road, Eccleshill</a>. Because you are registered at Idle Medical Centre you can also contact these practices to make an appointment.</p>

<section class="muted">
<h3>Make an appointment</h3>

You can book an appointment for this GP practice online.
<p><a href="book-an-appointment-online" class="button">Continue</a>

</section>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
