{% extends '_layouts/journey_layout_2-3_no_blue_box.html' %}


{% block page_title %}
GP details NHS.UK
{% endblock %}


{% block pageTitle %}
Confirmation of appointment at Meanwood Group Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<p>An appointment has been booked to see Dr Angela Carter at 10.10am today</p>

<p>We have sent a text message to your mobile telephone number ending in –7205 to confirm this.</p>

<p><i>(This text message will say:<br />"You have booked online an appointment to see Dr Angela Carter at 10.10am today. If you did not make this appointment reply to this text message with 'Cancel'.")</i></p>

<p>If you wish to change or cancel your appointment contact the GP practice by calling 0113 230 5055.</p>

<p><a href="" class="button">Done</a></p>


</p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}§

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
