{% extends '_layouts/journey_layout_2-3_no_blue_box.html' %}


{% block page_title %}
GP details NHS.UK
{% endblock %}


{% block pageTitle %}
Review appointment at Meanwood Group Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<h2>Your appointment</h2>

<p class="info-panel">Seeing Dr Angela Carter at 10.10am today</p>


<p>[Check user's answers table here.]</p>

<p>We will send a confirmation text message to the mobile phone number we have on record. The phone number ends is –7205.</p>


<p><a href="appointment-confirmation" class="button">Continue</a></p>


<a href="see-online-appointments" class="link-back" style="margin: 0;">Back</a>
</p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}§

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
