{% extends '_layouts/journey_layout_2-3_no_blue_box.html' %}


{% block page_title %}
GP details NHS.UK
{% endblock %}


{% block pageTitle %}
Choose an appointment at Meanwood Group Practice
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<h2>The next available appointment</h2>

<p>9.00am with Dr Carol Shields<br />
  <a href="confirm-online-appointment">Book this appointment</a></p>



<h2>Other appointments today</h2>

<p><strong>Dr Angela Carter</strong></p>

    <table class="gpOpeningTimes" style="margin-top:-24px;">
        <tbody>
            <tr>
                <td><a href="confirm-online-appointment">10.10am</a></td>
            </tr>
        </tbody>
    </table>

    <p><strong>Dr Bruce Chatwin</strong></p>

        <table class="gpOpeningTimes" style="margin-top:-24px;">
            <tbody>
                <tr>
                    <td><a href="">9.10am</a></td>
                    <td><a href="">9.20am</a></td>
                    <td><a href="">10.00am</a></td>
                    <td><a href="">10.30am</a></td>
                </tr>
                <tr>
                  <td><a href="">10.50am</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>
        </table>


    <p><strong>Dr Carol Shields</strong></p>

        <table class="gpOpeningTimes" style="margin-top:-24px;">
            <tbody>
                <tr>
                    <td><a href="">9.00am</a></td>
                    <td><a href="">9.30am</a></td>
                    <td><a href="">9.50am</a></td>
                    <td><a href="">10.20am</a></td>
                </tr>
            </tbody>
        </table>

      <p><strong>Dr Elizabeth Taylor</strong></p>

            <table class="gpOpeningTimes" style="margin-top:-24px;">
                <tbody>
                    <tr>
                        <td><a href="">10.50am</a></td>
                        <td><a href="">11.10am</a></td>
                        <td><a href="">2.30pm</a></td>
                        <td><a href="">3.00pm</a></td>
                    </tr>
                </tbody>
            </table>

          <p><strong>Dr Richard Yates</strong></p>

                <table class="gpOpeningTimes" style="margin-top:-24px;">
                    <tbody>
                        <tr>
                            <td><a href="">2.50pm</a></td>
                            <td><a href="">3.10pm</a></td>
                            <td><a href="">3.20pm</a></td>
                            <td><a href="">3.40pm</a></td>
                        </tr>
                    </tbody>
                </table>


<p><a href-="">Choose an appointment on another day</a></p>


<a href="gp-details" class="link-back" style="margin: 0;">Back</a>
</p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}§

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
