{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
See a GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}



<p>To book an appointment with your GP online you must already be registered with a GP surgery.</p>

<p>You will need to tell us:</p>

<ul>
  <li>your full name</li>
  <li>your date of birth</li>
  <li>the postcode you used to register with your GP</li>
</ul>

<p><a href="find-a-gp" class="button">Start</a></p>

<p style="top-margin:16px;">
  Not know your GP? <a href="find-your-gp">Find your GP</a>.
</p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
