{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Something is wrong with the previous page
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<p>Help us make NHS.UK better. Tell us what you think was wrong. Your message will be reviewed by the NHS.UK team.</p>

<p>Do not use this form to contact the NHS for emergency and personal health enquiries.</p>

<form>

  <textarea style="height:300px;"></textarea>

  <p style="margin-top: 16px; margin-bottom: 0;"><a href="show-list-of-pharmacies" class="button">Search</a></p>



</form>

<p style="margin-top: 0;"><a href="/show-list-of-pharmacies" class="link-back">Back to pharmacies near LS6 4JN</a></p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
