{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Symptoms and conditions / v1d2 / start journeys on a Google page{% endblock %}

{% block pageIntro %}These is the design work for the Connecting to Services programme{% endblock%}

{% block content %}

<ul>
  <li><a href="google-search?searchTerm=pharmacies">'Pharmacies'</a> into Google search</li>
  <li><a href="google-search?searchTerm=pharmacies near LS1">'Pharmacies near LS1'</a> into Google search</li>
  <li>'[pharmacy name]' into Google search</li>
  <li><a href="google-search?searchTerm=GP">'GP'</a> into Google search</li>
  <li><a href="google-search?searchTerm=diabetes">'diabetes'</a> into Google search</li>
  <li><a href="google-search?searchTerm=head lice">'Head lice'</a> into Google search</li>
  <li><a href="google-search?searchTerm=stomach ache">'Stomach ache'</a> into Google search</li>
  <li><a href="google-search?searchTerm=warts">'warts'</a> into Google search</li>
  <li><a href="google-search?searchTerm=verrucas">'verrucas'</a> into Google search</li>
</ul>

{% endblock %}

{% block footer %}{% endblock %}
