{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Diabetes
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<!--<p><a href="find-a-service?condition=diabetes">See your GP</a> if you have any of the symptoms of type 2 diabetes, or you’re worried you may have a higher risk of developing it.</p>-->

<p>See a GP if you have any of the symptoms of type 2 diabetes, or you’re worried you may have a higher risk of developing it.</p>

<div class="muted"><a href="TO THE PROTOTYPE">Find a GP and register with one</a>.</div>

<p><a href="diabetes-2">Page 2</a></p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
