{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Diabetes
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<!--<p><a href="find-a-service?condition=diabetes">See your GP</a> if you have any of the symptoms of type 2 diabetes, or you’re worried you may have a higher risk of developing it.</p>-->

<p>Type 2 diabetes is often diagnosed following blood or urine tests for something else.</p>

<p>However, if you have any symptoms of diabetes you should see your GP straight away.</p>

<div class="muted"><a href="see-a-gp-diabetes">Book an appointment with your GP online</a>.</div>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
