{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Symptoms and conditions / v1d2{% endblock %}

{% block pageIntro %}These is the design work for the Connecting to Services programme{% endblock%}

{% block content %}

<ul>
  <li><a href="diabetes">Diabetes</a> (see a GP)</li>
  <li><a href="head-lice">Head lice</a> (go to a pharmacy)</li>
  <li><a href="stomach-ache">Stomach ache</a> (pharmacy, walk-in centre, and GP)</li>
  <li><a href="warts-and-verrucas">Warts and verrucas</a> (pharmacy, GP, walk-in centre, urgent care centre)<br />
  Also contains gential warts which go to sexual health clinic as well</li>
</ul>

{% endblock %}

{% block footer %}{% endblock %}
