{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
See a GP
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}



<p>A GP can treat warts. They will treat this as a non-emergency. You may have to wait up to a month to receive treatment.</p>

<section class="info-panel">You must be registered with a GP for this treatment. If you can are not registered with a GP <a href="">you can register now</a>.
</section>


<p><a href="find-a-gp" class="button">Book an appointment with a GP</a></p>

<p style="top-margin:16px;">
  Not know your GP? <a href="find-your-gp">Find your GP</a>.
</p>

{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
