{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Throwing up - NHS.UK
{% endblock %}


{% block pageTitle %}
Throwing up
{% endblock %}

{% block pageIntro %}
This is when food comes back out of your mouth. Usually it isn't anything too serious.
{% endblock %}


{% block content %}

<h2>What is sick</h2>

<p>Throwing up is the same as vomit and sick.</p>

<p>It happens when your stomach doesn't agree with its contents.</p>

<p>The contents come back up your food pipe and through your mouth.</p>


<h2>Why do we get sick?</h2>

<p>Lots of the time people get sick because their stomach doesn't agree with food inside it or they might have food poisoning.</p>

<p>Sometimes if there are other ill people around you then you might pick up some of their germs.</p>

<p>If you have an allergic reaction then you might be sick.</p>

<p>Also it can be because you have drunk too much alcohol.</p>


<h2>Getting better</h2>

<p>Drink small sips of water and eat less food.</p>

<p>Don't eat sick.</p>

<p>Make sure you go to the toilet to be sick or use a bucket/bin if you can't move. Always dispose of the sick, by flushing the toilet or throwing it away.</p>

<p>Always wash your hands to keep away the germs.</p>

<p>If you put a hot water bottle on your stomach then it can make you feel better.</p>

<section class="attention">
<h2>See your GP if</h2>
<ul>
<li>you are constantly being sick</li>

<li>there is blood in your sick</li>
</ul>
</section>

{% endblock %}


{% block emergencyContent %}

That


{% endblock%}

{% block mutedCallout%}

This

{% endblock%}

{% block body_after %}
{% endblock %}
