{% extends '_layouts/layout_3-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Pharmacies near BD10 9RY
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<hr>


<h2>Pharmacies open now</h2>

<div class="grid-row">
<div class="grid-2-3">
<p>Closest to you, 0.5 miles away<br />
  <h3 style="margin-top:-40px;">Idle Medical Centre</h3></p>

  <p style="margin-top:-32px;"><!--<div class="hidden">Address</div>-->48 High Street, Idle, Bradford, BD10 9RY</p>

<p style="margin-top:-32px;">Open from 8am until 5:45pm today</p>
</div>
<div class="grid-1-3">
<p style="margin-top: -32px;"><a href="gp-practice-page" class="button">See map and directions</a></p>

</div>
</div>

<hr>

<h2>Pharmacies open soon</h2>

<hr>

<h2>Pharmacies currently not open</h2>


<p><a href="#">Is something wrong with this page?</a></p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
