{% extends '_layouts/layout_3-3_no_title_block.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Pharmacies near BD10 9RY
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<div class="tabs"><span="tab-selected" style="border: 3px solid #bfc1c3; padding: 16px;">Pharmacies open now</span></div> <span class="tab" style="padding:16px;">Pharmacies open soon</span> <span class="tab" style="padding:16px; background-color:;">Pharmacies not open</span> <span class="tab" style="padding:16px;">See all pharmacies</span></div>

<p>Closest to you, 0.5 miles away<br />
<h3 style="margin-top:-48px;">Idle Medical Centre</h3></p>

<p style="margin-top:-40px;"><!--<div class="hidden">Address</div>-->48 High Street, Idle, Bradford, BD10 9RY</p>

<p style="margin-top:-32px;">Open from 8am until 5:45pm today</p>

<p style="margin-top: -32px;"><a href="gp-practice-page" class="button">See map and directions</a></p>


<hr>


<p><a href="#">Is something wrong with this page?</a></p>



{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
