{% extends '_layouts/layout_2-3.html' %}


{% block page_title %}
Stomach ache symptoms and conditions - NHS.UK
{% endblock %}


{% block pageTitle %}
Warts and verrucas
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}

<h2>Check if you have them</h2>

<p>IMAGES HERE</p>

<h2>Warts often go away on their own</h2>

<p>You don’t need to do anything about warts. They’ll usually go away
within 2 years.</p>

<p>Warts don’t cause you any harm. They might itch or bleed but it doesn’t
mean there’s a problem.</p>

<p>If you are unsure or worried about a growth on your skin you should <a href="see-a-gp">see
a GP</a>.</p>

<section class="callout">
<p>Warts on your vulva, penis or anus are <a href="http://www.nhs.uk/Conditions/Genital_warts/Pages/Introduction.aspx">genital warts</a>
and need treatment. Go to a sexual health clinic or <a href="see-a-gp">see a GP</a>.</p>
</section>

<h2>Treating warts that are bothering you</h2>

<p>You can treat warts if they’re bothering you, they keep coming back or
they’re painful.</p>

<h3>Treatments from your pharmacy</h3>

<p>You can buy creams, plasters and sprays from pharmacies to get rid of
warts. These treatments can take up to 3 months, they can irritate your
skin and they don’t always work.</p>

<p>Ask your pharmacist for advice on what to use if you have a condition
such as diabetes.</p>

<section class="callout callout--warning">
<p>Don’t use pharmacy treatments on your face. See your GP instead.</p>
</section>

<h3>Treatment from your GP</h3>

<p>Your GP may be able to freeze warts off. If the wart is big, it may
take more than one session. After treatment, the wart should fall off a few
weeks later.</p>

<p>Check with your GP if the NHS pays for this treatment in your area.</p>

<p>If treatment hasn’t worked or you have a wart on your face, your GP might
refer you to a skin specialist. Other treatments include minor surgery and
treatment with laser or light.</p>

<h2>How to stop warts spreading</h2>

<ul>
<li>wash your hands after touching a wart</li>
<li>don’t bite your nails or suck your fingers with warts on</li>
<li>change your socks daily if you have verrucas</li>
<li>avoid cutting warts when shaving</li>
<li>don’t share towels</li>
<li>cover warts and verrucas with a plaster when swimming</li>
</ul>

<p><a href="http://cks.nice.org.uk/warts-and-verrucae#!background">Medical detail about warts</a></p>


{% endblock %}


{% block emergencyContent %}


{% endblock%}

{% block mutedCallout%}


{% endblock%}

{% block body_after %}

{% endblock %}
