{% extends '_layouts/layout_2-3_no_title_block.html' %}


{% block page_title %}
Book an appointment - NHS.UK
{% endblock %}


{% block pageTitle %}
Book a GP appointment online
{% endblock %}

{% block pageIntro %}

{% endblock %}


{% block content %}


<p>If your GP is in England, this will take you to your surgery’s online booking system.</p>

<p>You will need to:</p>

<ol>
<li>enter the name of your surgery to find the right booking system</li>
<li> sign into the booking system with the username and password your surgery gave you</li>
</ol>

<details style="margin-top: 16px; margin-bottom: 32px;">

<summary style="color:#0072c6;"><span class="nearest_opening_times" style="text-decoration: underline;">I haven't got a username and password</span></summary>

<div class="info-panel">
  <p>To get a username and password, ask your surgery for a form to register for online services.</p>
</div>

</details>


<form action="">

<fieldset>
<legend style="font-weight: 600;">
What's your GP surgery's name?
</legend>
  <div class="form-group">
    <input type="text" size="30" name="postcode" style="margin-bottom: 0;">
  </div>
</fieldset>

<a href="book-an-appointment-no-text-v5" type="submit" class="button" style="margin-top: -32px; margin-bottom: 32px;">Next</a>

</form>



{% endblock %}


{% block emergencyContent %}

{% endblock%}


{% block mutedCallout%}

{% endblock%}


{% block body_after %}

{% endblock %}
