{% extends '_layouts/layout_index.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Prototypes{% endblock %}

{% block pageIntro %}<p>This is the design work for the nhs.uk's Connecting to a GP digital service.</p>
<p>These are not live services.</p>{% endblock%}

{% block leftcontent %}

<h2>Production candidates</h2>

<h3>MVP for Book an Appointment with a GP v1.1</h3>
<ul>
  <li><a href="/MVP_v1_1/">Index</a> </li>
</ul>


<h3>MVP for Book an Appointment with a GP v1</h3>
<ul>
  <li><a href="/MVP_v1/">Index</a> </li>
</ul>

{% endblock %}


{% block rightcontent %}

<h2>Exploration</h2>

<h3>Lab on Monday 6 March 2017</h3>
<h4>Book a GP appointment journey</h4>
Looking at user seeing/choosing an appointment, dovetails into fake SystmOnline version.
<ul>
<!--    <li><a href="/v1/content_page_2-3">Standard content page, two-third grid</a></li>
  <li><a href="/v1/content_page_2-3_1-3">Standard content page, two-third/one-third grid</a></li>-->
  <li><a href="/lab_06_03_2017/diabetes">Start on a symptoms/condfitions page (diabetes) page</a> </li>
  <li><a href="/lab_06_03_2017/book-an-appointment">Start on Book an appointment with your GP start page</a> </li>
</ul>



<h3>v3</h3>
<h4>Find and see a GP journey</h4>
Looking at user seeing/choosing an appointment.
<ul>
<!--    <li><a href="/v1/content_page_2-3">Standard content page, two-third grid</a></li>
  <li><a href="/v1/content_page_2-3_1-3">Standard content page, two-third/one-third grid</a></li>-->
  <li><a href="/expl_v3/">List of conditions</a> </li>
</ul>

<h3>v2.1</h3>
<h4>Find and see a GP journey</h4>
Like v2, just with some content changes for the lab on Monday 6 February.
<ul>
  <li><a href="/expl_v2_1/">List of conditions</a> </li>
</ul>



<h3>v2</h3>
<h4>Find and see a GP journey</h4>
This is the very basic route: Users can 'find' a GP, and then see a page that tells them how to make an appointment.
<ul>
  <li><a href="/expl_v2/">List of conditions</a> </li>
</ul>


  <h3>v1</h3>
  <h4>Find and see a GP journey</h4>
  <ul>
<!--    <li><a href="/v1/content_page_2-3">Standard content page, two-third grid</a></li>
    <li><a href="/v1/content_page_2-3_1-3">Standard content page, two-third/one-third grid</a></li>-->
    <li><a href="/expl_v1/d1/warts-and-verrucas">v1 / d1: Warts and verrucas</a> </li>
    <li><a href="/expl_v1/d2/warts-and-verrucas">v1 / d2: Warts and verrucas</a></li>
  </ul>
  <h3>Find a pharmacy that will help my condition journey</h3>
  <ul>
    <li><a href="/expl_v1/d1/head-lice">v1 / d1: Head lice</a></li>
    <li><a href="/expl_v1/d2/head-lice">v1 / d2: Head lice</a></li>
  </ul>

  <h4>Symptoms and conditions index</h4>
  <ul>
    <li><a href="/expl_v1/d2/choose-journey">v1 / d2: Choose and start journey</a></li>
    <li><a href="/expl_v1/d2/index">v1 / d2: Symptoms and condition index</a></li>
  </ul>

{% endblock %}

{% block footer %}{% endblock %}
