{% extends '_layouts/layout_index.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Prototypes{% endblock %}

{% block pageIntro %}<p>This is the design work for the nhs.uk's Connecting to a GP digital service.</p>
<p>These are not live services.</p>{% endblock%}

{% block leftcontent %}

<h2>Production candidates</h2>

<h3>v2 - simplest journey possible within current technical restraints</h3>
<ul>
  <li><a href="/prod_v2/book-an-appointment">Book a GP Appointment Online 'start' screen</a> </li>
</ul>

<p><strong>Still to do</strong></p>
<ul>
  <li>Content review on all pages</li>
  <li>Review design across browsers</li>
  <li>Iterate results screen</li>
</ul>

<h3>MVP for Book an Appointment with a GP v1.1</h3>
<ul>
  <li><a href="/prod_v1_1/">Index</a> </li>
</ul>


<h3>MVP for Book an Appointment with a GP v1</h3>
<ul>
  <li><a href="/prod_v1/">Index</a> </li>
</ul>

{% endblock %}


{% block rightcontent %}

<h2>Exploration</h2>

<h3>v7</h3>
<h4>Refined, simplified journey</h4>

<ul>
  <li><a href="/expl_v7/book-an-appointment">Book a GP appointment</a></li>
</ul>

<h3>'Start' screen response if user does not enter any information</h3>

<ul>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v1">v1</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v2">v2</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v3">v3</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v4">v4</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v5">v5</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v6">v6</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v6b">v6b</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v7">v7</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v8">v8</a></li>
  <li><a href="expl_v7/book-an-appointment-no-text-entered-v9">v9</a></li>

</ul>

<h3>v6</h3>
<h4>Reference for the A/B testing</h4>

<ul>
  <li><a href="/expl_v6/book-an-appointment-v1">Book a GP appointment: v1</a></li>
  <li><a href="/expl_v6/book-an-appointment-v2">Book a GP appointment: v2</a></li>
</ul>


<h3>v5</h3>
<h4>Exploration of the Tell Us The Name Of Your GP screen</h4>

<ul>
  <li><a href="/expl_v5/">Symptoms/condition page: Diabetes</a></li>
  <li><a href="/expl_v5/book-an-appointment">Book a GP appointment: v1</a></li>
  <li><a href="/expl_v5/book-an-appointment-alt">Book a GP appointment: v2</a></li>
  <li><a href="/expl_v5/book-an-appointment-alt2">Book a GP appointment: v3</a></li>
  <li><a href="/expl_v5/book-an-appointment-alt3">Book a GP appointment: v4</a></li>
  <li><a href="/expl_v5/book-an-appointment-alt4">Book a GP appointment: v5</a></li>
</ul>

<ul>
  <li><a href="/expl_v5/show-list-of-a-gp">Show a GP</a></li>
  <li><a href="/expl_v5/show-list-of-gps">Show some GPs</a></li>
</ul>


<h3>v4</h3>
<h4>Why did I do this version?</h4>
I know I am getting old, but...
<ul>
  <li><a href="expl_v4/review-appointment">Review appointment</a></li>
  <li><a href="/expl_v4/appointment-confirmation">Appointment confirmation</a> </li>
</ul>



<h3>Lab on Monday 6 March 2017</h3>
<h4>Book a GP appointment journey</h4>
Looking at user seeing/choosing an appointment, dovetails into fake SystmOnline version.
<ul>
<!--    <li><a href="/v1/content_page_2-3">Standard content page, two-third grid</a></li>
  <li><a href="/v1/content_page_2-3_1-3">Standard content page, two-third/one-third grid</a></li>-->
  <li><a href="/lab_06_03_2017/diabetes">Start on a symptoms/condfitions page (diabetes) page</a> </li>
  <li><a href="/lab_06_03_2017/book-an-appointment">Start on Book an appointment with your GP start page</a> </li>
</ul>



<h3>v3</h3>
<h4>Find and see a GP journey</h4>
Looking at user seeing/choosing an appointment.
<ul>
<!--    <li><a href="/v1/content_page_2-3">Standard content page, two-third grid</a></li>
  <li><a href="/v1/content_page_2-3_1-3">Standard content page, two-third/one-third grid</a></li>-->
  <li><a href="/expl_v3/">List of conditions</a> </li>
</ul>

<h3>v2.1</h3>
<h4>Find and see a GP journey</h4>
Like v2, just with some content changes for the lab on Monday 6 February.
<ul>
  <li><a href="/expl_v2_1/">List of conditions</a> </li>
</ul>



<h3>v2</h3>
<h4>Find and see a GP journey</h4>
This is the very basic route: Users can 'find' a GP, and then see a page that tells them how to make an appointment.
<ul>
  <li><a href="/expl_v2/">List of conditions</a> </li>
</ul>


  <h3>v1</h3>
  <h4>Find and see a GP journey</h4>
  <ul>
<!--    <li><a href="/v1/content_page_2-3">Standard content page, two-third grid</a></li>
    <li><a href="/v1/content_page_2-3_1-3">Standard content page, two-third/one-third grid</a></li>-->
    <li><a href="/expl_v1/d1/warts-and-verrucas">v1 / d1: Warts and verrucas</a> </li>
    <li><a href="/expl_v1/d2/warts-and-verrucas">v1 / d2: Warts and verrucas</a></li>
  </ul>
  <h3>Find a pharmacy that will help my condition journey</h3>
  <ul>
    <li><a href="/expl_v1/d1/head-lice">v1 / d1: Head lice</a></li>
    <li><a href="/expl_v1/d2/head-lice">v1 / d2: Head lice</a></li>
  </ul>

  <h4>Symptoms and conditions index</h4>
  <ul>
    <li><a href="/expl_v1/d2/choose-journey">v1 / d2: Choose and start journey</a></li>
    <li><a href="/expl_v1/d2/index">v1 / d2: Symptoms and condition index</a></li>
  </ul>

{% endblock %}

{% block footer %}{% endblock %}
