{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Prototypes{% endblock %}

{% block pageIntro %}These is the design work for the Connecting to a GP digital service{% endblock%}

{% block content %}
  <h2>Sprint 46</h2>
  <h3>Find and see a GP journey</h3>
  <ul>
<!--    <li><a href="/v1/content_page_2-3">Standard content page, two-third grid</a></li>
    <li><a href="/v1/content_page_2-3_1-3">Standard content page, two-third/one-third grid</a></li>-->
    <li><a href="/v1/d1/warts-and-verrucas">v1 / d1: Warts and verrucas</a> </li>
    <li><a href="/v1/d2/warts-and-verrucas">v1 / d2: Warts and verrucas</a></li>
  </ul>
  <h3>Find a pharmacy that will help my condition journey</h3>
  <ul>
    <li><a href="/v1/d1/head-lice">v1 / d1: Head lice</a></li>
    <li><a href="/v1/d2/head-lice">v1 / d2: Head lice</a></li>
  </ul>

    <h3>Symptoms and conditions index</h3>
    <ul>
      <li><a href="/v1/d2/index">v1 / d2: Symptoms and condition index</a></li>
    </ul>

{% endblock %}

{% block footer %}{% endblock %}
